h1 {
	text-align: center;
}

.boxes {
	background: #ff42ff44;
}

.container {
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
	grid-template-rows: 150px 150px 150px 150px 150px 150px;
}
